In [1]:
import pandas as pd
pd.set_option("display.max_columns", 150)
import glob

In [2]:
#importing all the files and keeping them seperated by year.
csv_files = glob.glob('../data/2019/*.csv')
csv_files_1 = glob.glob('../data/2020/*.csv')
csv_files_2 = glob.glob('../data/2021/*.csv')

#importing the weather file.
weather = pd.read_csv('../data/USW00094728.csv', low_memory = False)

In [3]:
# #importing the weather
# weather = pd.read_csv('../data/USW00094728.csv', low_memory = False)

In [4]:
#Creating the empty dataframes so that the files can be added to.

citibike_2019 = pd.DataFrame()
citibike_2020 = pd.DataFrame()
citibike_2021 = pd.DataFrame()

In [5]:
# Iterating over the 2019 files so that they are in a dataframe.
for csv_file in csv_files:
    df = pd.read_csv(csv_file, low_memory = False)
    citibike_2019 = pd.concat([citibike_2019, df])

In [6]:
# Iterating over the 2020 files so that they are in a dataframe.
for csv_file in csv_files_1:
    df = pd.read_csv(csv_file, low_memory = False)
    citibike_2020 = pd.concat([citibike_2020, df])

In [7]:
# Iterating over the 2021 files so that they are in a dataframe.
for csv_file in csv_files_2:
    df = pd.read_csv(csv_file, low_memory = False)
    citibike_2021 = pd.concat([citibike_2021, df])

In [8]:
print(citibike_2019.shape)
print(citibike_2020.shape)
print(citibike_2021.shape)
print(weather.shape)

(20551697, 15)
(19506857, 15)
(27661451, 28)
(56749, 124)

In [9]:
citibike_2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,50787872EF6E8129,classic_bike,2021-09-17 09:37:02,2021-09-17 09:53:41,Fulton St & Broadway,5175.08,Atlantic Ave & Furman St,4614.04,40.711066,-74.009447,40.691652,-73.999979,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7957B375A8C64D32,classic_bike,2021-09-28 08:58:39,2021-09-28 09:06:14,Fulton St & Broadway,5175.08,Canal St & Rutgers St,5303.08,40.711066,-74.009447,40.714275,-73.989900,casual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DF3D6A35EAA68FE5,electric_bike,2021-09-21 13:36:12,2021-09-21 14:13:20,S 5 Pl & S 5 St,5125.03,Canal St & Rutgers St,5303.08,40.710451,-73.960876,40.714275,-73.989900,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23EFBDA190976B8C,classic_bike,2021-09-22 16:44:26,2021-09-22 16:59:28,Barclay St & Church St,5216.04,Bank St & Washington St,5964.01,40.712912,-74.010202,40.736197,-74.008592,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B31FFAD813FA26F5,classic_bike,2021-09-09 14:02:51,2021-09-09 14:14:46,E 2 St & Avenue B,5515.02,Canal St & Rutgers St,5303.08,40.722174,-73.983688,40.714275,-73.989900,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#changing the DATE column to a datetime datatype.
weather['DATE'] = pd.to_datetime(weather['DATE'])

In [11]:
#choosing the years I want data on.
weather = weather[weather['DATE'].dt.year.isin([2019, 2020, 2021])]

In [12]:
#Getting a count of how many nans are in each column.
nan_counts = weather.isna().sum()
too_many_nans = nan_counts[nan_counts > 500].index #locating the columns that hace more than 500 nans.
weather = weather.drop(columns = too_many_nans)# dropping the columns with more than 500 nans.

In [13]:
citibike_2021 = citibike_2021.rename(columns = {'member_casual':'user_type'})
citibike_2021 = citibike_2021.drop(columns = ['ride_id', 'rideable_type', 'starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude','bikeid','usertype','birth year','gender', 'tripduration'])

In [14]:
citibike_2019 = citibike_2019.rename(columns = {'starttime': 'started_at', 'stoptime' : 'ended_at','start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude':'start_lat', 'start station longitude':'start_lng', 'end station id':'end_station_id', 'end station name':'end_station_name', 'end station latitude':'end_lat','end station longitude':'end_lng', 'usertype':'user_type'})
citibike_2020 = citibike_2020.rename(columns = {'starttime': 'started_at', 'stoptime' : 'ended_at','start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude':'start_lat', 'start station longitude':'start_lng', 'end station id':'end_station_id', 'end station name':'end_station_name', 'end station latitude':'end_lat','end station longitude':'end_lng', 'usertype':'user_type'})

In [15]:
citibike_2019 = citibike_2019.drop(columns = ['birth year', 'gender', 'bikeid'])
citibike_2020 = citibike_2020.drop(columns = ['birth year', 'gender', 'bikeid'])

In [19]:
def convert_datetime(df, columns):
    for column in columns:
        df[column] = pd.to_datetime(df[column])

columns = ['started_at', 'ended_at']

convert_datetime(citibike_2019, columns)
convert_datetime(citibike_2020, columns)
convert_datetime(citibike_2021, columns)

In [21]:
citibike_2021['trip_duration'] = citibike_2021['ended_at'] - citibike_2021['started_at']
citibike_2021['trip_duration'] = citibike_2021['trip_duration'].dt.total_seconds()

In [26]:
citibike_2021['trip_duration'].isna().sum()

1095346

In [30]:
def datetime_date_time(df, columns):
    for column in columns:
        df['date'] = pd.to_datetime(df[column]).dt.date
        df['time'] = pd.to_datetime(df[column]).dt.time
        df['hour'] = pd.to_datetime(df[column]).dt.hour
columns = ['started_at', 'ended_at']

datetime_date_time(citibike_2019, columns)
datetime_date_time(citibike_2020, columns)
datetime_date_time(citibike_2021, columns)

In [28]:
def datetime_month(df, columns):
    for column in columns:
        df['month'] = pd.DatetimeIndex(df[column]).month
columns = ['started_at', 'ended_at']

datetime_month(citibike_2019, columns)
datetime_month(citibike_2020, columns)
datetime_month(citibike_2021, columns)

In [33]:
citibike_2021

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,user_type,trip_duration,month,date,time,hour
0,2021-09-17 09:37:02,2021-09-17 09:53:41,Fulton St & Broadway,5175.08,Atlantic Ave & Furman St,4614.04,40.711066,-74.009447,40.691652,-73.999979,member,999.0,9.0,2021-09-17,09:53:41,9.0
1,2021-09-28 08:58:39,2021-09-28 09:06:14,Fulton St & Broadway,5175.08,Canal St & Rutgers St,5303.08,40.711066,-74.009447,40.714275,-73.989900,casual,455.0,9.0,2021-09-28,09:06:14,9.0
2,2021-09-21 13:36:12,2021-09-21 14:13:20,S 5 Pl & S 5 St,5125.03,Canal St & Rutgers St,5303.08,40.710451,-73.960876,40.714275,-73.989900,member,2228.0,9.0,2021-09-21,14:13:20,14.0
3,2021-09-22 16:44:26,2021-09-22 16:59:28,Barclay St & Church St,5216.04,Bank St & Washington St,5964.01,40.712912,-74.010202,40.736197,-74.008592,member,902.0,9.0,2021-09-22,16:59:28,16.0
4,2021-09-09 14:02:51,2021-09-09 14:14:46,E 2 St & Avenue B,5515.02,Canal St & Rutgers St,5303.08,40.722174,-73.983688,40.714275,-73.989900,member,715.0,9.0,2021-09-09,14:14:46,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2021-04-06 16:17:48,2021-04-06 16:47:59,Sands St Gate,4812.04,Atlantic Ave & Furman St,4614.04,40.699569,-73.979827,40.691652,-73.999979,member,1811.0,4.0,2021-04-06,16:47:59,16.0
999996,2021-04-19 17:46:21,2021-04-19 17:55:00,Columbia Heights & Cranberry St,4829.01,Atlantic Ave & Furman St,4614.04,40.700378,-73.995480,40.691652,-73.999979,member,519.0,4.0,2021-04-19,17:55:00,17.0
999997,2021-04-28 18:41:29,2021-04-28 19:18:25,Columbia St & Degraw St,4422.04,Atlantic Ave & Furman St,4614.04,40.685929,-74.002423,40.691652,-73.999979,member,2216.0,4.0,2021-04-28,19:18:25,19.0
999998,2021-04-14 16:55:38,2021-04-14 17:03:47,S 4 St & Wythe Ave,5204.05,N 15 St & Wythe Ave,5520.09,40.712858,-73.965902,40.724055,-73.955736,casual,489.0,4.0,2021-04-14,17:03:47,17.0
999999,2021-04-28 15:36:38,2021-04-28 15:55:31,S 4 St & Wythe Ave,5204.05,Atlantic Ave & Furman St,4614.04,40.712858,-73.965902,40.691652,-73.999979,casual,1133.0,4.0,2021-04-28,15:55:31,15.0

***Answering some data questions***

*What time are the bikes most frequently used during the day?*

In [58]:
print(f"The hour with the most bike usage in 2019 was hour {citibike_2019.groupby('hour')['hour'].count().sort_values(ascending=False).index[0]} with {citibike_2019.groupby('hour')['hour'].count().sort_values(ascending=False).iloc[0]} rides.")
print(f"The hour with the most bike usage in 2020 was hour {citibike_2020.groupby('hour')['hour'].count().sort_values(ascending=False).index[0]} with {citibike_2020.groupby('hour')['hour'].count().sort_values(ascending=False).iloc[0]} rides.")
print(f"The hour with the most bike usage in 2021 was hour {citibike_2021.groupby('hour')['hour'].count().sort_values(ascending=False).index[0]} with {citibike_2021.groupby('hour')['hour'].count().sort_values(ascending=False).iloc[0]} rides.")

The hour with the most bike usage in 2019 was hour 18 with 1963316 rides.
The hour with the most bike usage in 2020 was hour 18 with 1846011 rides.
The hour with the most bike usage in 2021 was hour 18.0 with 2376241 rides.

*What time are the bikes used the least during the day?*

In [59]:
print(f"The hour with the least bike usage in 2019 was hour {citibike_2019.groupby('hour')['hour'].count().sort_values(ascending=True).index[0]} with {citibike_2019.groupby('hour')['hour'].count().sort_values(ascending=True).iloc[0]} rides.")
print(f"The hour with the least bike usage in 2020 was hour {citibike_2020.groupby('hour')['hour'].count().sort_values(ascending=True).index[0]} with {citibike_2020.groupby('hour')['hour'].count().sort_values(ascending=True).iloc[0]} rides.")
print(f"The hour with the least bike usage in 2021 was hour {citibike_2021.groupby('hour')['hour'].count().sort_values(ascending=True).index[0]} with {citibike_2021.groupby('hour')['hour'].count().sort_values(ascending=True).iloc[0]} rides.")

The hour with the least bike usage in 2019 was hour 4 with 43066 rides.
The hour with the least bike usage in 2020 was hour 4 with 38340 rides.
The hour with the least bike usage in 2021 was hour 4.0 with 87378 rides.

*Which stations are the most frequent for starting & ending a trip?*

In [52]:
pd.merge(citibike_2019, citibike_2020)

Empty DataFrame
Columns: [tripduration, started_at, ended_at, start_station_id, start_station_name, start_lat, start_lng, end_station_id, end_station_name, end_lat, end_lng, user_type, month, date, time, hour]
Index: []

In [57]:
citibike_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19506857 entries, 0 to 488224
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   tripduration        int64
 1   started_at          datetime64[ns]
 2   ended_at            datetime64[ns]
 3   start_station_id    int64
 4   start_station_name  object
 5   start_lat           float64
 6   start_lng           float64
 7   end_station_id      int64
 8   end_station_name    object
 9   end_lat             float64
 10  end_lng             float64
 11  user_type           object
 12  month               int64
 13  date                object
 14  time                object
 15  hour                int64
dtypes: datetime64[ns](2), float64(4), int64(5), object(5)
memory usage: 2.5+ GB

In [60]:
citibike_2019['start_station_id'].value_counts()

519.0     156575
497.0     121781
3255.0    119958
402.0     113138
285.0     113012
           ...
3902.0         8
3250.0         6
3245.0         6
3909.0         6
488.0          3
Name: start_station_id, Length: 936, dtype: int64

In [56]:
citibike_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20551697 entries, 0 to 955209
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   tripduration        int64
 1   started_at          datetime64[ns]
 2   ended_at            datetime64[ns]
 3   start_station_id    float64
 4   start_station_name  object
 5   start_lat           float64
 6   start_lng           float64
 7   end_station_id      float64
 8   end_station_name    object
 9   end_lat             float64
 10  end_lng             float64
 11  user_type           object
 12  month               int64
 13  date                object
 14  time                object
 15  hour                int64
dtypes: datetime64[ns](2), float64(6), int64(3), object(5)
memory usage: 2.6+ GB

In [62]:
citibike_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19506857 entries, 0 to 488224
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   tripduration        int64
 1   started_at          datetime64[ns]
 2   ended_at            datetime64[ns]
 3   start_station_id    int64
 4   start_station_name  object
 5   start_lat           float64
 6   start_lng           float64
 7   end_station_id      int64
 8   end_station_name    object
 9   end_lat             float64
 10  end_lng             float64
 11  user_type           object
 12  month               int64
 13  date                object
 14  time                object
 15  hour                int64
dtypes: datetime64[ns](2), float64(4), int64(5), object(5)
memory usage: 2.5+ GB

In [63]:
citibike_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27661451 entries, 0 to 999999
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   started_at          datetime64[ns]
 1   ended_at            datetime64[ns]
 2   start_station_name  object
 3   start_station_id    object
 4   end_station_name    object
 5   end_station_id      object
 6   start_lat           float64
 7   start_lng           float64
 8   end_lat             float64
 9   end_lng             float64
 10  user_type           object
 11  trip_duration       float64
 12  month               float64
 13  date                object
 14  time                object
 15  hour                float64
dtypes: datetime64[ns](2), float64(7), object(7)
memory usage: 3.5+ GB

In [64]:
citibike_2021['start_station_id'].value_counts()

5329.03        72530
6140.05        72272
5980.07        66631
6822.09        64493
5492.05        64016
               ...
8419.03            2
SYS035             2
MTL-ECO51-1        2
SYS016             1
SYS033             1
Name: start_station_id, Length: 3104, dtype: int64

In [65]:
citibike_2020['start_station_id'].value_counts()

3141    100753
426      99364
435      99191
514      97415
499      91856
         ...
4306         6
3912         3
4328         3
4310         2
4332         1
Name: start_station_id, Length: 1213, dtype: int64

In [66]:
citibike_2019['start_station_id'].value_counts()

519.0     156575
497.0     121781
3255.0    119958
402.0     113138
285.0     113012
           ...
3902.0         8
3250.0         6
3245.0         6
3909.0         6
488.0          3
Name: start_station_id, Length: 936, dtype: int64

In [32]:
# def datetime_hour(df, columns):
#     for column in columns:
#         df['hour'] = pd.to_datetime(df[column]).dt.hour
# columns = ['started_at', 'ended_at']

# datetime_hour(citibike_2019, columns)
# datetime_hour(citibike_2020, columns)
# datetime_hour(citibike_2021, columns)