In [1]:
import pandas as pd
pd.set_option("display.max_columns", 150)
import glob

In [2]:
#importing all the files and keeping them seperated by year.
csv_files = glob.glob('../data/2019/*.csv')
csv_files_1 = glob.glob('../data/2020/*.csv')
csv_files_2 = glob.glob('../data/2021/*.csv')

#importing the weather file.
weather = pd.read_csv('../data/USW00094728.csv', low_memory = False)

In [3]:
# #importing the weather
# weather = pd.read_csv('../data/USW00094728.csv', low_memory = False)

In [4]:
#Creating the empty dataframes so that the files can be added to.

citibike_2019 = pd.DataFrame()
citibike_2020 = pd.DataFrame()
citibike_2021 = pd.DataFrame()

In [5]:
# Iterating over the 2019 files so that they are in a dataframe.
for csv_file in csv_files:
    df = pd.read_csv(csv_file, low_memory = False)
    citibike_2019 = pd.concat([citibike_2019, df])

In [6]:
# Iterating over the 2020 files so that they are in a dataframe.
for csv_file in csv_files_1:
    df = pd.read_csv(csv_file, low_memory = False)
    citibike_2020 = pd.concat([citibike_2020, df])

In [7]:
# Iterating over the 2021 files so that they are in a dataframe.
for csv_file in csv_files_2:
    df = pd.read_csv(csv_file, low_memory = False)
    citibike_2021 = pd.concat([citibike_2021, df])

In [8]:
print(citibike_2019.shape)
print(citibike_2020.shape)
print(citibike_2021.shape)
print(weather.shape)

(20551697, 15)
(19506857, 15)
(27661451, 28)
(56749, 124)

In [9]:
citibike_2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,50787872EF6E8129,classic_bike,2021-09-17 09:37:02,2021-09-17 09:53:41,Fulton St & Broadway,5175.08,Atlantic Ave & Furman St,4614.04,40.711066,-74.009447,40.691652,-73.999979,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7957B375A8C64D32,classic_bike,2021-09-28 08:58:39,2021-09-28 09:06:14,Fulton St & Broadway,5175.08,Canal St & Rutgers St,5303.08,40.711066,-74.009447,40.714275,-73.989900,casual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DF3D6A35EAA68FE5,electric_bike,2021-09-21 13:36:12,2021-09-21 14:13:20,S 5 Pl & S 5 St,5125.03,Canal St & Rutgers St,5303.08,40.710451,-73.960876,40.714275,-73.989900,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23EFBDA190976B8C,classic_bike,2021-09-22 16:44:26,2021-09-22 16:59:28,Barclay St & Church St,5216.04,Bank St & Washington St,5964.01,40.712912,-74.010202,40.736197,-74.008592,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B31FFAD813FA26F5,classic_bike,2021-09-09 14:02:51,2021-09-09 14:14:46,E 2 St & Avenue B,5515.02,Canal St & Rutgers St,5303.08,40.722174,-73.983688,40.714275,-73.989900,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#changing the DATE column to a datetime datatype.
weather['DATE'] = pd.to_datetime(weather['DATE'])

In [11]:
#choosing the years I want data on.
weather = weather[weather['DATE'].dt.year.isin([2019, 2020, 2021])]

In [12]:
#Getting a count of how many nans are in each column.
nan_counts = weather.isna().sum()
too_many_nans = nan_counts[nan_counts > 500].index #locating the columns that hace more than 500 nans.
weather = weather.drop(columns = too_many_nans)# dropping the columns with more than 500 nans.

In [13]:
citibike_2021 = citibike_2021.rename(columns = {'member_casual':'user_type'})
citibike_2021 = citibike_2021.drop(columns = ['ride_id', 'rideable_type', 'starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude','bikeid','usertype','birth year','gender', 'tripduration'])

In [14]:
citibike_2019 = citibike_2019.rename(columns = {'starttime': 'started_at', 'stoptime' : 'ended_at','start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude':'start_lat', 'start station longitude':'start_lng', 'end station id':'end_station_id', 'end station name':'end_station_name', 'end station latitude':'end_lat','end station longitude':'end_lng', 'usertype':'user_type'})
citibike_2020 = citibike_2020.rename(columns = {'starttime': 'started_at', 'stoptime' : 'ended_at','start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude':'start_lat', 'start station longitude':'start_lng', 'end station id':'end_station_id', 'end station name':'end_station_name', 'end station latitude':'end_lat','end station longitude':'end_lng', 'usertype':'user_type'})

In [15]:
citibike_2019 = citibike_2019.drop(columns = ['birth year', 'gender', 'bikeid'])
citibike_2020 = citibike_2020.drop(columns = ['birth year', 'gender', 'bikeid'])

In [16]:
citibike_2021[citibike_2021['start_station_name'] == 'Atlantic Ave & Furman St']

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,user_type
1781,2021-09-19 18:23:51,2021-09-19 18:49:46,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691652,-73.999979,40.691652,-73.999979,casual
1797,2021-09-13 14:32:36,2021-09-13 15:22:42,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691652,-73.999979,40.691652,-73.999979,member
1798,2021-09-09 19:01:31,2021-09-09 19:02:12,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691652,-73.999979,40.691652,-73.999979,member
1803,2021-09-24 16:39:37,2021-09-24 17:35:02,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691652,-73.999979,40.691652,-73.999979,casual
1811,2021-09-20 22:04:56,2021-09-20 22:05:05,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691652,-73.999979,40.691652,-73.999979,member
...,...,...,...,...,...,...,...,...,...,...,...
999919,2021-04-18 13:34:47,2021-04-18 14:45:57,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691651,-73.999978,40.691652,-73.999979,casual
999927,2021-04-20 19:04:13,2021-04-20 19:35:49,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691651,-73.999978,40.691652,-73.999979,casual
999928,2021-04-07 19:44:36,2021-04-07 20:11:56,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691652,-73.999979,40.691652,-73.999979,casual
999937,2021-04-28 15:57:12,2021-04-28 16:32:40,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691652,-73.999979,40.691652,-73.999979,casual
999939,2021-04-04 18:23:59,2021-04-04 20:00:48,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691651,-73.999978,40.691652,-73.999979,casual

In [19]:
def convert_datetime(df, columns):
    for column in columns:
        df[column] = pd.to_datetime(df[column])

columns = ['started_at', 'ended_at']

convert_datetime(citibike_2019, columns)
convert_datetime(citibike_2020, columns)
convert_datetime(citibike_2021, columns)

In [21]:
citibike_2021['trip_duration'] = citibike_2021['ended_at'] - citibike_2021['started_at']
citibike_2021['trip_duration'] = citibike_2021['trip_duration'].dt.total_seconds()

In [26]:
citibike_2021['trip_duration'].isna().sum()

1095346

In [18]:
citibike_2019

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,user_type
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,Subscriber
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,Subscriber
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,Subscriber
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,Subscriber
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,Subscriber
...,...,...,...,...,...,...,...,...,...,...,...,...
955205,93,2019-12-31 23:58:18.0160,2019-12-31 23:59:51.6360,3141.0,1 Ave & E 68 St,40.765005,-73.958185,3142.0,1 Ave & E 62 St,40.761227,-73.960940,Subscriber
955206,786,2019-12-31 23:58:59.8960,2020-01-01 00:12:06.3460,490.0,8 Ave & W 33 St,40.751551,-73.993934,513.0,W 56 St & 10 Ave,40.768254,-73.988639,Subscriber
955207,351,2019-12-31 23:59:03.6950,2020-01-01 00:04:54.8730,3349.0,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368.0,5 Ave & 3 St,40.672815,-73.983524,Subscriber
955208,1571,2019-12-31 23:59:21.3610,2020-01-01 00:25:32.9420,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,Subscriber
955209,310,2019-12-31 23:59:55.2960,2020-01-01 00:05:05.7270,3351.0,E 102 St & 1 Ave,40.786995,-73.941648,3379.0,E 103 St & Lexington Ave,40.790305,-73.947558,Subscriber