In [1]:
import pandas as pd
pd.set_option("display.max_columns", 150)
import sqlite3
import glob
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
# Importing all the files
csv_files = glob.glob('../data/trips/*.csv')

# List to collect DataFrames
dataframes = []


for csv_file in csv_files:
    df = pd.read_csv(csv_file, low_memory=False)
    dataframes.append(df)

citibike = pd.concat(dataframes, ignore_index=True)


citibike  = citibike.drop(columns = 'Unnamed: 0')

In [29]:
citibike

,date,num_of_trips,holiday,prcp,snow,tmax,tmin,median_trip_duration,mean_trip_duration,day_of_week
0,2021-01-01,18790,True,157,0.0,39.92,33.08,665.0,1273.26,4
1,2021-01-02,41195,False,13,0.0,51.08,35.96,783.0,1208.44,5
2,2021-01-03,14578,False,56,0.0,37.94,33.98,508.0,1028.81,6
3,2021-01-04,36745,False,5,0.0,42.98,35.06,569.0,888.63,0
4,2021-01-05,38525,False,0,0.0,42.08,35.96,570.0,877.76,1
...,...,...,...,...,...,...,...,...,...,...
1090,2019-12-27,31808,False,0,0.0,53.96,46.04,560.0,984.35,4
1091,2019-12-28,28520,False,0,0.0,51.08,42.98,617.0,1045.72,5
1092,2019-12-29,17968,False,64,0.0,44.06,39.02,545.0,1120.37,6
1093,2019-12-30,12138,False,188,0.0,41.00,37.04,475.0,716.91,0
1094,2019-12-31,31510,False,5,0.0,44.96,35.96,539.0,950.76,1